<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <nav>
        <ul>
            <li><a href="index.html">Home & About Us</a></li>
            <li><a href="running.html">Running</a></li>
            <li><a href="climbing-strength.html">Climbing & Strength</a></li>
            <li><a href="join-us.html">Join Us</a></li>
            <li><a href="contact.html">Contact & Location</a></li>
        </ul>
    </nav>
    <header>
        <div class="hero">
            <img src="../../assets/images/Runners-billboard.png" alt="Runners Munich Billboard" />
        </div>
    </header>
</body>

</html>